{% extends 'jobseeker/jobseekerbase.html' %}
{% load static %}
{% block admin %}
<h1 class="text-center my-4">Change Password</h1>
<div class="row">
    <div class="col-sm-6 mx-auto p-5 shadow">
        <form action="" method="post">
            {% csrf_token %}
            <label for="oldpwd2" class="mb-2">Old Password</label>
            <input type="password" name="oldpwd2" id="oldpwd2" class="form-control mb-4">
            <label for="newpwd2" class="mb-2">New Password</label>
            <input type="password" name="newpwd2" id="newpwd2" class="form-control mb-4">
            <label for="confirmpwd2" class="mb-2">Confirm Password</label>
            <input type="password" name="confirmpwd2" id="confirmpwd2" class="form-control mb-4">
            <button type="submit" class="btn-primary rounded-pill py-2 w-100 btn">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}
